*.depend
*.o
Labo_01/obj/
*.orig
Labo_02/Labo_02.layout
Labo_04/build-Labo4_partie1-Desktop_Qt_5_3_MinGW_32bit-Debug/
*.layout
Labo_04/partie2Qt/build-StockExchange-Desktop_Qt_5_3_MinGW_32bit-Debug/
*.user
Labo_01/bin/
Labo_02/bin/
Labo_03b/bin/
Labo_03c/bin/
Labo_05/bin/Labo_05/version Qt/build-labo_05-Desktop_Qt_5_4_0_MinGW_32bit-Debug/
Labo_04/partie1/build-Labo4_partie1-Desktop_Qt_5_4_0_MinGW_32bit-Debug/
Labo_04/build-Labo4_partie1-Desktop_Qt_5_4_0_MinGW_32bit-Debug/
Labo_02/bin/
Labo_03b/bin/
*.user
*.3-pre1
Labo_05/bin/
